
#wxxoev-schemavalidationresult-header.heading-validation-OK{
    color: white;
    background-color: green;
} 

#wxxoev-schemavalidationresult-header.heading-validation-FAILED{
    color: white;
    background-color: red;
} 

#wxxoev-schemavalidationresult-header.heading-validation-SKIPPED{
    color: white;
    background-color: grey;
} 

#wxxoev-schematronvalidationresult-header.heading-validation-OK{
    color: white;
    background-color: green;
} 

#wxxoev-schematronvalidationresult-header.heading-validation-FAILED{
    color: white;
    background-color: red;
} 

#wxxoev-schematronvalidationresult-header.heading-validation-SKIPPED{
    color: white;
    background-color: grey;
}  

.action input.button {
    float: right;
    padding: 10px;
    background: #1776BF;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white;
    font-size: large;
  }

.action input.button:hover {
    background: #CDE6F9;
    color: #333333;
    font-weight: bold;
}

.tableView input.text{
    border: 1px solid  #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px #ccc;
    height: 30px;
    font-size: medium
}

.tableView select{
    border: 1px solid  #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    height: 30px;
    font-size: medium
}

.tableView p.label{
    font-size: medium
}

.tableView label{
    font-size: medium;
} 

.tableView p.long-text{
    font-size: small
}

.tableView textarea.long-text{
    border: 1px solid  #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px #ccc;    
    font-size: small
}

.tableView td.heading{
    font-size: medium
}

.tableView input[type="radio"]{
    border: 1px solid  #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px #ccc;
    font-size: medium
}

.menusection{
    border-collapse: collapse;
    font-size: large;
}

.menuitem{
    font-size: medium;
} 

.menuTable{
    border: 1px #ccc;

    box-shadow: 2px 2px #ccc;
}

.menuTable tbody{
    border: 1px #ccc;
    box-shadow: 2px 2px #ccc;
}

.fileinput{
    display: none;
} 

.fileinput-area {
    display: flex;
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    float: left;
    color: #ccc;
    align-items: center;
    justify-content: left;
} 

.fileinput-area p {
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #ccc;
    font-size: large;
} 

.fileinput-area.highlight {
    border-color: #1776BF;
    color: #1776BF;
}

.fileinput-area.fileinput-area.highlight p {
    vertical-align: middle;
    color: #1776BF;
}


.fileinput-area .button {
    float: left;
    vertical-align: middle;
    padding: 10px;
    background: #1776BF;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: white;
    font-size: large;
  }

.fileinput-area .button:hover {
    background: #CDE6F9;
    color: #333333;
    font-weight: bold;
}

